<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataExportManagerConnectionString" type="System.String" requirePermission="false" />
    <section name="DataQualityEngineConnectionString" type="System.String" requirePermission="false" />
    <section name="TestCatalogueConnectionString" type="System.String" requirePermission="false" />
    <section name="UnitTestLoggingConnectionString" type="System.String" requirePermission="false" />
	<section name="ServerICanCreateRandomDatabasesAndTablesOnConnectionString" type="System.String" requirePermission="false" />
  </configSections>

  <!--Things that will be copied into DatabaseSettings, there should be no other database servers referenced in DatabaseSettings, all other database/server entities should be referenced from ExternalDatabaseServer in Catalogue database and configured on a per catalogue basis e.g. ANO!-->
  <DataExportManagerConnectionString>${dataExportManager.connection.string}</DataExportManagerConnectionString>
  <DataQualityEngineConnectionString>${dataQualityEngine.connection.string}</DataQualityEngineConnectionString>
  <TestCatalogueConnectionString>${connection.string}</TestCatalogueConnectionString>

  <!--Things that you should create references to inside of the DataCatalogue database-->
  <UnitTestLoggingConnectionString>${logging.connection.string}</UnitTestLoggingConnectionString>
  <ServerICanCreateRandomDatabasesAndTablesOnConnectionString>${scratchServer.connection.string}</ServerICanCreateRandomDatabasesAndTablesOnConnectionString>
</configuration>