<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HIC.RDMP.Plugin" version="2.3.3.52-ada8f7c05258cd8b876895fbcc3abfde0f11fed0" targetFramework="net451" />
  <package id="HIC.RDMP.Plugin.Test" version="2.3.3.52-ada8f7c05258cd8b876895fbcc3abfde0f11fed0" targetFramework="net451" />
</packages>