<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net451" />
  <package id="HIC.RDMP.Plugin" version="2.3.3.52-ada8f7c05258cd8b876895fbcc3abfde0f11fed0" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net451" />
  <package id="WebDAVClient" version="1.1.2" targetFramework="net451" />
</packages>