<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataExportManagerConnectionString" type="System.String" requirePermission="false" />
    <section name="DataQualityEngineConnectionString" type="System.String" requirePermission="false" />
    <section name="TestCatalogueConnectionString" type="System.String" requirePermission="false" />
    <section name="UnitTestLoggingConnectionString" type="System.String" requirePermission="false" />
	<section name="ServerICanCreateRandomDatabasesAndTablesOnConnectionString" type="System.String" requirePermission="false" />
  </configSections>

  <!--Things that will be copied into DatabaseSettings, there should be no other database servers referenced in DatabaseSettings, all other database/server entities should be referenced from ExternalDatabaseServer in Catalogue database and configured on a per catalogue basis e.g. ANO!-->
  <DataExportManagerConnectionString>server=localhost\SQLEXPRESS;Initial Catalog=dataexport;Integrated Security=SSPI</DataExportManagerConnectionString>
  <DataQualityEngineConnectionString>server=localhost\SQLEXPRESS;Initial Catalog=dqe;Integrated Security=SSPI</DataQualityEngineConnectionString>
  <TestCatalogueConnectionString>server=localhost\SQLEXPRESS;Initial Catalog=catalogue;Integrated Security=SSPI</TestCatalogueConnectionString>

  <!--Things that you should create references to inside of the DataCatalogue database-->
  <UnitTestLoggingConnectionString>server=localhost\SQLEXPRESS;Initial Catalog=logging;Integrated Security=SSPI</UnitTestLoggingConnectionString>
  <ServerICanCreateRandomDatabasesAndTablesOnConnectionString>server=localhost\SQLEXPRESS;Initial Catalog=master;Integrated Security=SSPI</ServerICanCreateRandomDatabasesAndTablesOnConnectionString>
</configuration>